@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alex\/Sites\/paneon\.de\%20-\%20iro\/import\/public\/css\/main\.scss}line{font-family:\000032}}
.wrapper { width: 800px; margin: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alex\/Sites\/paneon\.de\%20-\%20iro\/import\/public\/css\/main\.scss}line{font-family:\000036}}
.wrapper .front-page { margin-top: 20px; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alex\/Sites\/paneon\.de\%20-\%20iro\/import\/public\/css\/main\.scss}line{font-family:\0000312}}
.wrapper form label { margin-top: 7px; }
