
.wrapper {
  width: 1000px;
  margin: 20px;

  .front-page {
    margin-top: 20px;
    text-align: center;
  }

  form {
    label {
      margin-top: 7px;
    }
  }

  .col-1 {
    width: 20px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-data {
    .row {
      border-top: 1px solid #ddd;
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

    }
  }

}